.antecedentes{
    position: relative;

    &-title{
        grid-column: 1/3;
        align-self: center;
        height: 100%;
        margin-bottom: .65em;
        padding-top: 1.5em;
        font-size: 20px;
        text-align: center;
        color: var(--title-color);
        background-color: var(--background-color);
    }

    &-yes{
        position: absolute;
        width: 80%;
        text-align: center;
        top: 45%;
        left: 50%;
        border-radius: .3em;
        padding: 2em;
        z-index: 300;
        opacity: 0;
        transform: translate(-50%);
        background-color: #000;

        &__title{
            font-size: 20px;
            margin-top: 0em;
            margin-bottom: 1.5em;
        }

        &__link{
            text-decoration: none;
            color: #fff;
            background-color: var(--danger-color);
            padding: .6em 1em;
            margin: 0 .5em;
            border-radius: .2em;
            cursor: pointer;
        }
    }

    &-card{
        margin-top: 2.5em;
        padding-bottom: 1em;
        text-align: center;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(5,200px);
        gap: 25px;

        &__title{
            grid-column: 1/6;
            font-size: 1.5em;
            margin-bottom: 1.4em;
            color: var(--text-color);
        }
    }

    &-header{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        background-color: #2196F3;

        &__text{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            width: 50%;
            z-index: 10;
        }
        
        &__title{
            font-size: 32px;
            margin-top: 0;
            letter-spacing: 1px;
            color: $text-color;

            &-color{
                color:#F2C21F;
            }
        }

        &__illustration{
            position: relative;
            width: 50%;
            height: 100%;
        }

        &__img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 32px;
            max-width: 80%;
            height: 100%;
        }

        &__button{
            text-align: start;
            z-index: 10;
        }

        &__link{
            position: relative;             
            padding: .8em 2em;
            text-decoration: none;
            border-radius: 6px;
            color: var(--text-color);
            background-color: var(--danger-color);
            overflow: hidden;
            z-index: 10;
        }
    }
}

.entrevista{
    position: relative;
    height: 620px;
    margin-top: 5em;
    transition: height .8s ease-in;
    overflow: hidden;

    &-title{
        text-align: center;
        padding-bottom: .4em;
        color: var(--title-color);
    }

    &-form{
        position: relative;
        display: flex;
        align-items: end;
        justify-content: center;
        height: 450px;
    }

    &-submit{
        transition: opacity .5s ease-in;

        &__input{
            height: 45px;
            width: 110px;
            border-radius: 4px;
        }
    }
}

.datos,
.entrevista-submit{
    opacity: 0;
}

.datos{
    position: absolute;
    top: 30px;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 15px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
    border-radius: 10px;
    transform: translate(-50%); 
    transition: opacity .8s ease-out;
    color: $text-color;
    background-color: var(--primary-color);

    &-title{
        grid-column: 1/3;
        align-self: center;
        height: 100%;
        margin-bottom: .65em;
        padding-top: 1.5em;
        text-align: center;
        font-size: 20px;
        color: var(--title-color);
        background-color: var(--background-color);
    }

    &-personales{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 250px;

        &__input{
            padding: 3px 0 3px 8px;
            font-size: 14px;
            border-radius: 5px;
            outline: none;
            transition: border .5s ease-in;

            &:focus{
                border: 2px solid var(--danger-color);
            }
        }

        &__surname{
            padding: 1em 0 0;
        }
    }

    &-personales:nth-child(2){
        justify-self: end;
        align-items: center;
        flex-direction: row;
        width: 320px;
    }

    &-personales:nth-child(2) > label,
    &-personales:nth-child(6) > *{
        margin: 0 .3em;
    }

    &-personales:nth-child(3),
    &-personales:nth-child(5){
        width: 210px;
    }

    &-personales:nth-child(3),
    &-personales:nth-child(5){
        align-self: start;
        justify-self: center;
    }

    &-personales:nth-child(3) > *,
    &-personales:nth-child(4) > *,
    &-personales:nth-child(5) > *{
        margin: .2em 0;
    }

    &-personales:nth-child(4){ 
        justify-self: end;
        width: 220px;
        margin-right: 5.8em;
    }

    &-personales:nth-child(6){
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        justify-self: end;
        margin-right: 3.6em;
        margin-top: .4em;
        width: 260px;
    }

    &-personales:nth-child(6) p{
        display: block;
        margin-bottom: .4em;
        margin-right: 10em;
        font-size: 14px;
    }

    &-paciente{
        text-align: center;
        font-size: 20px;
        padding: .3em 0 .7em;
        border-bottom: 1px solid var(--danger-color);
        color: var(--text-color);
    }
}

.antecedentes-input{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;

    & textarea, &__input{
        padding: 3px 0 3px 8px;
        font-size: 14px;
        resize: none;
        outline: none;
    }

    & textarea{
        margin-top: .5em;
        margin-left: .6em;
        width: 250px;
    }
}

.antecedentes-input:nth-child(2){
    justify-self: end;
    width: 360px;
    padding-top: 1em;
}

.antecedentes-input:nth-child(2) label{
    margin: .2em 0;
}

.antecedentes-input:nth-child(2) input{
    margin: .8em;
}

.antecedentes-input:nth-child(3){
    flex-direction: row;
    flex-wrap: wrap;
    align-self: start;
    justify-self: center;
    align-items: center;
    justify-content: start;
    padding-top: 1em;
    width: 390px;
}

.antecedentes-input:nth-child(3) h6{
    font-size: 12px;
    margin: .5em 0;
}

.antecedentes-input:nth-child(3) > *{
    margin: 0 .35em;
}

.antecedentes-input:nth-child(4),
.antecedentes-input:nth-child(5),
.antecedentes-input:nth-child(6){
    grid-column: 1/3;
    width: 100%;
    padding: .5em 11.5em .8em;
}

.antecedentes-input:nth-child(4) h6,
.antecedentes-input:nth-child(5) h6,
.antecedentes-input:nth-child(6) h6{
    font-size: 14px;
    margin: .8em 0;
}

.antecedentes-input:nth-child(4),
.antecedentes-input:nth-child(5){

    &::before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 70%;
        height: 2px;
        background-color: var(--danger-color)
        }
}

.antecedentes-input:nth-child(4){
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 70%;
        height: 2px;
        background-color: var(--danger-color)
    }
}


.referencia{
    margin-top: .8em;
}

.habitos > *,
.consumo > *,
.medicamente > *,
.familiares > *,
.sexo > *,
.familia > *,
.traumas > *,
.traumas-familia > *,
.traumas-exposicion > *{
    margin: 0 .34em;
}

.habitos,
.consumo,
.medicamente,
.familiares,
.sexo,
.familia,
.traumas,
.traumas-familia,
.traumas-exposicion{
    margin-top: .6em;
}

.services{
    position: relative;
    background-color: var(--primary-color);
}

.traumas-show{
    display: none;
}

.traumas--show{
    display: block;
}

.default{
    padding: 0;
    background-color: transparent;
    text-align: center;
    color: var(--text-color);
    border-bottom: 1px solid var(--danger-color);
}

