.contact{
    padding: 3em 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-test{
    padding: 1.2em 2.5em;
    margin: 1.5em auto;
    border-radius: 6px;
    background-color: var(--primary-color);

    & span{
        color: var(--danger-color)
    }

    &__title{
        font-size: 2rem;
        color: var(--title-color);

        & strong{
            font-weight: bold;
        }
    }

    &__text{
        font-size: 1.1rem;
        color: var(--text-color);

        &-test{
            line-height: 1.6;
        }
    }

    &__data{
        line-height: 1.4;
        font-size: 1.1rem;
    }
}

.form-container{
    @include laptop{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center; 
        height: 850px;
        width: 100%;
        padding: 1em 2.5em;
        overflow: hidden;
    }

    &__sintoma{
        font-size: 1.2em;
    }

    &__body{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 87%;
        padding: .2em 0 .7em;
        border-radius: 0 0 7px 7px;
        /* transform: translate(-50%); */
        transition: all .8s ease-in;
        background-color: var(--primary-color);
        opacity: 1;

        & p{
            color: $text-color;
        }
    }

    &__title{
        width: 100%;
        margin-top: 0;
        padding: 1em 0;
        font-size: 1.2rem;
        text-align:center;
        color: var(--title-color);
        background-color: var(--background-color);
    }

    &__input{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 1.2em;
        border-radius: 6px;
        border-bottom: 2px solid var(--danger-color);
        background-color: var(--primary-color);

        & label{
            color: $title-color;
            margin-right: .8em;
        }
        
        & input{
            border-radius: 5px;
            outline: none;
            padding: .5em .5em .5em 2em;
            margin-top: .5em;
            width: auto;
        }

        & input:focus{
            border: 3px solid $danger-color;
            transition: border .5s ease-in;
        }
    }
    
    &__icon{
        position: absolute;
        top: 10px;
        left: 65px;
        width: 30px;
        height: 39px;
        text-align: center;
        
        & i{
            margin-top: 10px;
            color: $danger-color;
        }
    }
            
    &__button{
        margin-bottom: 0;
        text-align: center;
        z-index: 100;

        &-submit{
            padding: 1em 1.5em;
            border-radius: 5px;
            border: none;
            color: #fff;
            background-image: linear-gradient(to right, #4DA0B0 0%, #D39D38  51%, #4DA0B0  100%);
            transition: 0.5s;
            background-size: 200% auto;

            &:hover{
                background-position: right center;
                color: #eee;
                cursor: pointer;
            }
        }
    }
}

.form-title{
    padding: .5em 1.5em 0;
    color: var(--title-color);
    font-size: 32px;

        & span{
            color: var(--danger-color);
        }
    
}

.detalle-autoevaluacion{
    padding-bottom: 15px;
    border-bottom: 1px solid var(--danger-color);

    &:last-child{
        border-bottom: none;
    }

    &__header{
        text-align: center;
        padding: 0 1em;
        
        & p{
            color: var(--title-color);
            font-size: 20px;
        }

    }

    &__footer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & label{
            font-size: 1.2em;
            color: var(--title-color);
        }
    
        & input{
            width: 18px;
            height: 18px;
            border: none;
            outline: none;
        }
    }
}

.modal,
.modal-terapeutico{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 18, 19,.7);
    transform: scale(0);
    transition: transform .5s ease-in;
    z-index: 400;

    &__title{
        color: $text-color;
    }

    &-content{
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 60vh;
        padding: 3em;
        border-radius: 6px;
        background-color: var(--primary-color);

        &--personality{
            height: 55vh;
        }

        &__title{
            color: var(--title-color);
            font-size: 22px;

            & span{
                font-weight: bold;
                color: $danger-color;
            }
        }

        &__text{
            color: var(--text-color);
        }
    }

    &--show{
        transform: scale(1);
    }
}

.controls-test{
    position: absolute;
    display: flex;
    justify-content: space-between;
    // gap: 20px;
    top: 50%;
    width: 95%;
    height: 40px;
    margin: .4em auto;
    font-size: 2rem;
    color: var(--danger-color);
    z-index: 300;

    & i{
        cursor: pointer;
        width: 32px;
        height: 32px;
    }
}

.modal__notEnoughInformation{
    margin-top: auto;

    & hr{
        width: 100%;
        background-color: var(--secondary-color)
    }
}

.trastorno-diagnosticado{
    color: var(--danger-color);
}

.important{
    color: $text-color;
}

.sky{
    display: flex;
    justify-content: center;
}

.cont-temporizador{
    position: absolute;
    top: 75%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    transform: translate(-50%);
    background-color: var(--primary-color);
    width: 68%;
    border-radius: 5px;
    padding: 1em 0;
    opacity: 0;
    transition: opacity .5s ease-in-out;

    & h2{
        margin-top: 10px;
        text-align: center;
        color: var(--title-color)
    }

    & a{
        width: 20%;
        margin: 1em auto;
        color: #222;
        padding: 1em 0;
        text-align: center;
        text-decoration: none;
        border-radius: .2em;
        background-color: var(--secondary-color);
    }
}

.bloque{
    display: flex;
    margin: 0 4px;
    flex-direction: column;
    align-items: center;

    & div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        box-shadow: 0 0 6px 2px #727272 inset;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        width: 100px;
        height: 70px;
        margin-bottom: 10px;
        border-radius: 5px;
    }

    & p{
        font-size: 11px;
        color: #dedede;
        font-weight: bold;
    }
}

.show-opacity{
    transition: all .8s ease-in;
}

@media(Hover:hover){
    .icon-fixed:hover{
        filter: brightness(90%);
    }
}