.nosotros-container{
    background-color: #0084FF;
    
    &__img{
        position: relative;
        display: flex;
        justify-content: center;
        height: 540px;
    }
    
    &__header{
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        text-align: center;
    }

    &__image{
        max-width: 100%;
        height: 100%;
    }

    &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &::after,
        &::before{
            content: '';
            position: absolute;
            display: block;
            left: 50%;
            width: 40px;
            height: 1px;
            transform: translate(-50%) rotate(90deg);
            background-color: black;
            box-shadow: 150px 0 0 black;
        }

        &::after{
            top: 0;
        }
    }

    &__title{
        font-size: 3em;
        font-weight: bold;
        color: $title-color;
    }
}

// ESTA PARTE ES ACERCA DE LA OTRA SECCION
.nosotros-information{
    position: relative;
    height: 550px;
    padding: 6em 12em;
    background-color: #F8EEE6;
    overflow: hidden;

    &::after,
    &::before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        outline: 1px solid #FCD722;
        background-color: #00D5FF;
        backface-visibility: visible;
        outline-offset: 40px;
    }
    
    &::after{
        right: 0;
        transform: translate(35%,35%);
    }

    &::before{
        left: 0;
        transform: translate(-40%,45%);
    }

    &__flex{
        // position: relative;
        display: flex;
        align-items: flex-start;
        gap: 70px;
    }

    &__icon{
        margin-top: .2em;
        font-size: 6.4em;
        color: $danger-color;
    }

    &__title{
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 3em;
        letter-spacing: 1px;
        color: $title-color;
    }

    &__description{
        margin-top: 0;
        font-size: 1.5em;
        line-height: 1.5;
        color: $primary-color;

        & span{
            color: $danger-color;
        }
    }
}

.nosotros-valores{

    &__header{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 420px;
        background-color: #006ACC;
    }

    &__title{
        width: 50%;
        font-size: 3em;
        margin: 0 auto;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: underline;
        text-decoration-style: wavy;
        color: $text-color;
        text-decoration-color: #42b983;
    }

    &__transform{
        position: relative;
        text-align: center;
        width: 50%;
        height: 100%;
        z-index: 100;

        &::after,
        &::before{
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
        }

        &::before{
            width: 120px;
            height: 90px;
            top: 120px;
            left: 40%;
            background-color: #B9E2F8;
            transform: rotate(170deg);
        }
        
        &::after{
            width: 170px;
            height: 170px;
            top: 100px;
            left: 20%;
            box-shadow: 220px -30px 0 #B9E2F8;
            background-color: #B9E2F8;
            border-radius: 50%;
        }
    }

    &__footer{
        padding: 3em 1.5em;
        display: flex;
        justify-content: space-around;
        background-color: #0087FF;
    }
}

.nosotros-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 430px;
    text-align: center;
    padding: 1em 2.8em;
    border-radius: 5px;
    background-color: $primary-color;

    @include hover{
        background-color: #F2C21F;

        & .nosotros-card__icon{
            background-color: $primary-color;
            transform: rotateY(180deg);
        }
    }

    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    &__icon{
        position: relative;
        font-size: 2em;
        width: 64px;
        height: 64px;
        padding: 14px;
        border-radius: 50%;
        background-color: #F2C21F;
        color: $secondary-color;
        transition: transform 1s ease;
    }

    &__title{
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.3;
        letter-spacing: 1px;
        color: $text-color;
    }

    &__description{
        margin-top: 8px;
        font-size: 1.1em;
        line-height: 1.5;
        color: $title-color;
    }
}

.nosotros-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;

    &__title{
        font-size: 2.5em;
        font-weight: bold;
        letter-spacing: 1px;
        color: $text-color;
    }

    &__text{
        text-align: center;
        font-weight: bold;
        font-size: 1.8em;
        color: $title-color;
    }

    &__vacante{
        margin-top: 5px;
    }

    &__button{
        padding: 14px 16px;
        outline: none;
        border: none;
        font-size: 1.2em;
        color: $text-color;
        border-radius: 8px;
        background-color: #0087FF;

        @include hover{
            cursor: pointer;
        }
    }
}

