.psicologos{
    display: grid;
    grid-template-columns: 300px 1fr;

    &-container{
        padding: 1em 4em;
        overflow: hidden;
        
        & p{
            color: var(--title-color);
            font-size: 20px;
        }
    }

    &-card{
        padding: 1em 1.5em;
        grid-column: 2/3;

        &__card{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 15px;
            padding-top: 1.5em;
        }

        &__aside{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            padding-bottom: .4em;
            background-color: var(--primary-color);
            border-radius: 6px;
        
            &-img{
                & img{
                    padding: 1.5em .2em;
                    height: 170px;
                }
            }
        
            &-title{
                font-size: 28px;
                margin-bottom: .5em;
                color: var(--danger-color);
            }
        
            &-link{      
                padding: .7em 1.4em;
                background-color: var(--danger-color);
                box-shadow: 0 5px 3px #ffffff33;
                transition: all .3s ease-in;
                border: 1px solid transparent;
        
                &:hover{
                    transform: translateY(-12%);
                    background-color: transparent;
                    border: 1px solid var(--danger-color);
                }
            }
        
            &-text{
                & p{
                    color: var(--text-color);
                    font-size: 1rem;
                    margin-top: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

// FILTER LEFT SIDE STYLES ON PSICOLOGOS.VUE
.filter{
    padding-bottom: .7em;

    &-consulta{
        display: block;
        margin-top: 12px;
        width: 50%;
        height: 35px;
        padding-left: .7em;
        border: .5px solid var(--danger-color);
        border-radius: 5px;
        color: $text-color;
        background-color: var(--primary-color);
    }
    
    & label{
        color: var(--title-color);
        font-size: 1.1rem;
    }
}


// PSIQUIATRAS STYLES ON PSICOLOGOSLIST.VUE
.psiquiatras{
    position: relative;
    width: 335px;
    padding: 1em 1em 0;
    border-radius: 6px;
    background-color: var(--primary-color);    

    @include hover{
        box-shadow: 0 0 3px 2px #42b983bb;

        & .psiquiatras-header__img img{
            filter: brightness(100%);
        }

        & .psiquiatras-header__img::after,
        & .psiquiatras-header__img::before{
            transform: translate(0);
            transition: transform .4s ease-in;
        }
    }

    &-header{
        
        &__img{
            position: relative;
            width: 55%;
            margin-left: auto;
            margin-right: auto;
            transition: transform .4s ease-out;
            overflow: hidden;

            &::after,
            &::before{
                display: block;
                position: absolute;
                width: 80%;
                height: 25px;
                padding: 5px;
                font-size: 12px;
                text-align: center;
                color: $text-color;
            }
            
            &::before{
                content: 'Psicologo.';
                bottom: 35px;
                left: 0;
                background-color: #F2C21F;
                z-index: 10;
                transform: translate(-100%);
            }
            
            &::after{
                content: 'Especializado.';
                bottom: 14px;
                right: 0;
                background-color: #B9E2F8;
                z-index: 20;
                transform: translate(100%);
            }

            & img{
                display: block;
                max-width: 100%;
                height: 150px;
                aspect-ratio: 16/9;
                filter: brightness(40%);
            }
        }

        &__info{
            text-align: center;

            & p{
                margin: .7em 0 .4em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    &-footer{
        text-align: center;
        padding-bottom: 1em;

        & p{
            position: relative;
            height: 60px;
            margin-right: -1em;
            margin-bottom: 1em;
            padding-right: 1em;
            font-size: 1rem;
            line-height: 1.2em;
            text-overflow: ellipsis;
            overflow: hidden;

            &::before{
                content: '...';
                position: absolute;
                right: 22px;
                bottom: 3px;
                font-size: 20px;
            }

            &::after{
                content: '';
                position:absolute;
                right: 0;
                width: 1em;
                height: 1em;
                margin-top: 0.2em;
                background-color: $text-color;
            }
        }

        &__link{
            padding: .6em 1.3em;
            border: 1px solid var(--danger-color);
            background-color: transparent;
            overflow: hidden;
            z-index: 100;
            
            &::after{
                content: '';
                display:block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                background-color: var(--danger-color);
                transform: translateX(-100%);
                transition: transform .3s ease-in-out;
                z-index: -1;
            }

            &:hover::after{
                transform: translateX(0);
            }

            &:focus{
                transform: translateY(5px)
            }
        }
    }
}

//  LEFT FOR FILTER ON SearchPsicologos.vue
.side-bar{
    grid-row: 1/1;
    height: 650px;
    padding: 1em 1.6em;
    border-radius: 5px;
    background-color: var(--primary-color);

    &__text{
        color: var(--title-color);
        margin-top: .3em;
    }

    & hr{
        width: 240px;
    }

    &__input{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        width: 100%;
        accent-color: #42b983;

        &--center{
            gap: 0px;
            align-items: center;

            & label{
                margin-top: 0;
                margin-bottom: 1em;
            }
            
            & input{
                cursor: pointer;

                &:focus{
                    outline: 2px solid $danger-color;
                }
            }
        }
        
        &-text{
            margin-top: 0;
            margin-bottom: 0;
            font-size: 1.2rem;
            color: $title-color;
        }

        & label{
            margin: .8em 0 .8em .6em;
            font-size: 1.1rem;
            color: var(--text-color);
            
            &:first-child{
                margin-left: 0;
            }
        }

        &--help{
            position: relative;
        }
    }
}

// ICON STYLES FOR TERAPEUTIC MODELS IN SIDE-BAR BOTTOM
.icon-help{
    position: absolute;
    top: 5px;
    right: -8px;
    font-size: 28px;
    color: var(--danger-color);
    transition: transform .4s ease-in;
}

// MODAL STYLES FOR TERAPEUTIC MODELS

.modal-terapeutico{

    &--close{
        position: absolute;
        top: 80px;
        width: 50px;
        height: 50px;
        right: 22%;
        cursor: pointer;

        &::after,
        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 35px;
            height: 3px;
            top: 60px;
            right: 0;
            border-radius: 5px;
            background-color: $text-color;
        }

        &::after{ 
            transform: rotate(45deg);
        }

        &::before{
            transform: rotate(135deg);
        }
    }
}

.article-terapeutico{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 60vw;
    padding: 0 2.5em 1em;
    border-radius: 6px;
    background-color: var(--primary-color);

        &__title{
            margin-top: 1em;
            margin-bottom: 0;
            text-align: center;
            text-decoration: underline;
            text-decoration-style: wavy;
            text-decoration-color: #42b983;
            color: var(--danger-color);
        }

        & p{
            color: var(--text-color);
            font-size: 15px;
        }

        &__section{

            &-title{
                color: var(--danger-color);
                font-size: 1.2rem;
                margin: 0;
            }

            &-text{
                margin: .3em 0;
                font-size: 1rem;
                line-height: 1.5;
            }
        }
}

.psicologos-card__aside-link,
.psiquiatras-footer__link{
    display: inline-block;
    position: relative;
    text-decoration: none;
    border-radius: 5px;
    color: $text-color;
}

.detalle-autoevaluacion__footer input,
.sidebar-bar__input input{
    cursor: pointer;
}

@media(Hover:hover){
    .icon-help:hover{
        cursor: pointer;
        transform: scale(1.1);
        color: #42b983;
    }
}

.sexo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(17, 18, 19,.7);
    z-index: 10;
}

.article-psicologo{
    position: relative;
    padding: 2em 0;
    gap: 16px;
    width: 60vw;
    height: 80vh;
    border-radius: 6px;
    background-color: var(--primary-color);
}

.article-headers{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image{
        border-radius: 50%;
        background-color: #ccc;
        overflow: hidden;
    }

    &__img{
        width: 180px;
        height: 180px;
    }

    &__title{
        margin-top: 24px;
        margin-bottom: 0;
        font-size: 1.8em;
        font-weight: bold;
        color: $title-color;
    }

    &__test{
        display: flex;
        flex-direction: column;
        // flex: 15px;
        text-align: center;
    }

    &__description{
        margin-bottom: 25px;
        line-height: 1.5;
        width: 35ch;
        color: $text-color;
    }

    &__inputs{
        display: flex;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    &__label{
        display: flex;
        gap: 15px;
        align-items: center;
        font-size: 1.2em;

        & input{
            width: 16px;
            height: 16px;
            border: none;
            accent-color: $secondary-color;
        }
    }


    &__button{
        // letter-spacing: 1px;
        font-size: 1.4em;
        border: none;
        background-color: transparent;
        color: blue;

        @include hover{
            cursor: pointer;
            filter: brightness(80%);
        }
    }

    &__buttons{
        position: absolute;
        bottom: 40px;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 2em;

        & button{
            border: none;
            background-color: transparent;
            color: blue;
            font-size: 1.4em;

            @include hover{
                cursor: pointer;
                filter: brightness(80%);
            }
        }
    }
}

.psicologo-terapeutico--close{
    top: 0;
    right: 60px;
}