.article-quesillo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 5em;

    &__header{
        width: 58%;
        display: flex;
        align-items: start;
        gap: 20px;
    }

    &__body{
        width: 58%;
        margin-top: 1em;
        padding-left: 12.5em;
        padding-bottom: 2em;
    }

    &__footer{
        width: 100%;
    }
}

.maps{
    width: 100%;
}

.atencion{
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 7px;
    border: 1px solid #ccc;
    background-color: var(--primary-color);

    &-title{
        margin: .3em 0 .8em;
        font-size: 20px;
        font-weight: bold;
        color: var(--danger-color);
    }

    & p{
        width: 100%;
        word-wrap: break-word;
        color: var(--text-color);
        line-height: 1.5;
    }
}

.main-menu__quesillo--grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.main-menu__quesillo{
    @include reset-list;
}

.main-list__quesillo{
    margin: .1em 0;
    color: var(--text-color);
}

.quesillo{

    &-title{
        color: var(--title-color);
        padding: 1em 4em;
    }

    &-img{
        width: 24%;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;

        & img{
            display: block;
            max-width: 100%;
            height: 150px;
        }
    }

    &-text{
        width: 76%;
        padding: 0 1.3em;
        background-color: var(--background-color);
        border: 1px solid #ccc;
        border-radius: 7px;

        &__title{
            color: var(--danger-color);
            font-size: 30px;
            margin: .8em 0;
        }

        &__info{
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            color: var(--title-color);

            & span{
                color: var(--danger-color);
                font-weight: bold;

            }
            
            & img {
                max-width: 140px;
            }
        }
    }
}

.aside-quesillo{
    display: flex;
    justify-content: space-around;

    &__item{
        color: var(--danger-color);
        padding: .3em .5em;
        border-radius: 20px;
        background-color: #ccc;
    }
}

.advertencia{
    padding: 1.8em 6.3em;
    line-height: 1.5;
    background-color: #000;
    color: $text-color;
}