.registrarse{
    display: flex;

    &-img{
        width: 50%;
        background-color: var(--primary-color);
        border-radius: 10px 0 0 10px;

        &__text{
            color:  var(--secondary-color);
            padding: .8em 3em;
            letter-spacing: 2px;
            font-size:  15px;

            &--rachael{
                color:  #fff;
                text-align: center;
                font-size: 22px;
                margin:  0 auto;
                letter-spacing: 1px;
            }
        }

        &__image{
            max-width: 85%;
            margin: 0 auto;
            padding: 2.5em;
        }
    }
}

.login-data{
    width:  50%;
    height:  auto;
    flex-grow:  1;
    padding:  2.5em 4em;
    color: #fff;
    background-color: var(--background-color);
    border-radius: 0 10px 10px 0;

    &__footer{
        margin-top: 1.6em;
    }

    &__title{
        font-size:  22px;
    }
}

.form-grupo__input{
    position:  relative;
    display:  flex;
    flex-direction: column;
    padding-top:  .4em;
}

.form-grupo__input label{
    font-size:  14px;
    padding-bottom:  .4em;
}

.form-login__input{
    margin-top: .4em;

    & i{
        position:  absolute;
        top: 15px;
        left: 15px;
        color:  var(--danger-color);
    }
}

.form-grupo__input input{
    outline: none;
    height:  35px;
    padding-left: 40px;
    width: 90%;
    border-radius: 6px;
    font-size: 15px;
    border:  1px solid #ccc;
}

.form-login__submit{
    margin-top: 1.2em;

    &-input{
        padding:  .5em 0;
        width:  90%;
        background-color: var(--secondary-color);
        color:  #fff;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        @include hover{
            background-color: #55e3bb;
            color: #333;
        }
    }
}

.form-login__input input:focus{
    border:  1px solid #ee4400;
    transition: border .4s ease-in;
}

.form-login__input input:focus + i{
    color:  #ee4400;
    transition: color .4s ease-in;
}

.form-grupo__input i:nth-of-type(2){
    left: 85%;
    opacity: 0;
    transition: opacity .3s ease-in;
}

.message-error{
    display: none;
    font-size: 13px;
    color: var(--danger-color);
    font-weight: bold;

    &--activo{
        display: block;
    }
}

.form-grupo__correcto .form-grupo__input i:nth-of-type(2){
    color: var(--secondary-color);
    opacity: 1;
}

.form-grupo__incorrecto .form-grupo__input i:nth-of-type(2){
    color: var(--danger-color);
    opacity: 1;
}

.form-grupo__incorrecto .form-grupo__input input{
    border: 3px solid var(--danger-color)
}