.historial-article{

    &__header{
        text-align: center;
        padding-bottom: 1em;
    }

    &__title{
        font-size: 1.7rem;

        & span{
            color: $danger-color;
        }
    }

    &__title,
    &__text,
    &__link{
        color: $text-color;
    }

    &__text{
        letter-spacing: 1px;
        font-size: 20px;
    }

    &__footer{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 1.5em;
        gap: 15px;
    }

    &__link{
        padding: .8em 2em;
        text-decoration: none;
        border-radius: 6px;
        background-color: var(--danger-color);
    }
}
