.historial-article{

    &__header{
        text-align: center;
        padding-bottom: 1em;
    }

    &__title{
        font-size: 2rem;

        & span{
            color: $danger-color;
        }
    }

    &__title,
    &__text,
    &__link{
        color: $text-color;
    }

    &__text{
        letter-spacing: 1px;
        font-size: 22px;
    }

    &__footer{
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-top: 1.5em;
        gap: 15px;
    }

    &__link{
        padding: .8em 2em;
        text-decoration: none;
        border-radius: 6px;
        background-color: var(--danger-color);
    }
}

.historial-trastorno{

    &__header{
        padding: 1.5em 3em 1em;

        &-title{
            font-size: 24px;
            color: var(--title-color);
        }
    
        &-text{
            font-size: 18px;
            color: var(--text-color);
            line-height: 1.5;  
        }
    }

    &__footer{
        padding: 0 3em 2em;

        &-title{
            font-size: 22px;
            color: var(--title-color);
        }
    }

}

.sintomas__item{
    color: var(--danger-color);
    font-size: 20px;
}

.diagnosticos{
    margin: 2em 0;
    padding: 2.5em 3em;
    text-align: center;
    border-radius: 10px;
    background-color: #000;

    &-title{
        font-size: 20px;

        & span{
            color: var(--danger-color);
        }
    }

    &__text{
        font-size: 20px;
        margin: .1em;
        color: var(--danger-color);
    }
}

.antecedentes-info__data,
.antecedentes-info__text{
    text-align: left;
}

.antecedentes-info{

    &__data{

        &-title{
            color: var(--title-color);
            margin: .5em 0;
            font-size: 20px;
        }
    
        &-text{
            font-size: 18px;

            & span{
                color: $title-color;
            }
        }
    }

    &__text{
        &-data{
            font-size: 18px;
            line-height: 1.5;
            color: var(--text-color);
        }
    }
}