hr{
    margin-left: 0;
    margin-bottom: 30px;
    width: 10%;

    @include tablet-4{
        width: 5%;
    }
}

.section{
    margin-top: 10px;
    padding: 5px 25px;

    @include tablet{
        padding: 5px 30px;
    }

    @include tablet-5{
        padding: 5px 50px;
    } 
     
    @include laptop{
        margin-top: 15px;
        padding: 5px 70px;
    }

    @include desktop{
        padding: 10px 110px;
    }

    &__title{
        font-size: 22px;
        color: $title-color;

        @include tablet-4{
            font-size: 24px;
        }

        @include tablet-5{
            font-size: 26px;
        }

        @include laptop{
            font-size: 28px;
        }
    }
}

.article{
    padding-bottom: 25px;

    @include tablet-5{
        padding-bottom: 10px;
    }

    & p{
        line-height: 1.5;
        font-size: 16px;
        color: $text-color;

        @include tablet{
            padding: 0 5px;
        }

        @include tablet-3{
            padding: 0 10px;
        }

        @include tablet-4{
            font-size: 16px;
            padding: 0 14px;
        }

        @include laptop{
            padding: 0;
        }

        @include desktop{
            font-size: 17px;
        }

    }
}

.first-letter::first-letter{
    float: left;
    margin-right: .2rem;
    margin-top: -15px;
    font-size: 38px;
    height: auto;
    color: $danger-color;

    @include tablet{
        margin-top: -15px;
        font-size: 46px;
    }
}
