.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100px;
    width: 100%;
    background-color: #B9E2F8;

    @include tablet-4{
        height: 150px;
    }

    @include laptop{
        margin-top: 1em;
    }

    &-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $background-color;
        filter: brightness(70%);
        transition: all .4s ease-in;

        @include hover{
            filter: brightness(100%);
            border: 2px solid #F2C21F;

            & .socials-container__icon{
                cursor: pointer;
                color: $danger-color;
            }
        }

        &__icon{
            color: $primary-color;
            // color: $danger-color;
            font-size: 35px;

            @include tablet-4{
                font-size: 45px;
            }

            @include laptop{
                font-size: 35px;
            }

            &:hover{
                @include laptop{
                    animation: palpitar 1.2s infinite;
                    transform-origin: center;
                }
            }
        }

    }

}

@keyframes palpitar{
    from { transform: none; }
    50% { transform: scale(1.3); }
    to { transform: none; }
}

@media(prefers-reduced-motion){
    .socils-container__icon{
        animation: palpitar 3s ease-in;
    }
}
